@media only screen and (max-width: 1024px) {
    .data-box {
        background-size: 100%;
        background-image: url("/assets/img/data.png");
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        height: 428px;
    }
    
    .pos-ab {
        position: absolute;
        z-index: 0;
        bottom: 0;
    }
    .pos-rel {
        position: relative;
        padding-top: 0px;
        padding-bottom: 150px;
        margin-bottom: 0px;
    }
    .main-content-wrapper-box {
        height: 600px;
        background-repeat: no-repeat;
        background-image: url("/assets/img/bg.png");
        background-size: 100%;
    }
    .align-mq{
        align-items: center;
    }
    /* .data-box {
        background-size: 100%;
        background-image: url("/assets/img/data.png");
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        height: 440px;
    } */
  }
  @media only screen and (max-width: 992px) {
    .pad-mar-15 {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
    .qa-box {
        flex: calc(100% /1);
        padding: 10px 0px;
    }
    .margin-top-q{
        margin-top: 24px;
    }
    .data-box {
        background-position: center;
        background-size: cover;
        background-image: url("/assets/img/data.png");
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        height: 700px;
    }
    .navbar .getstarted, .navbar .getstarted:focus{
        margin-left: 15px;
    }
    .mq-f-wrap{
        flex-wrap: wrap;
    }
  .mq-pic{
      max-width: 700px !important;
  }
  .pos-ab {
    position: absolute;
    z-index: 0;
    bottom: 0px;
}
  }
  @media only screen and (max-width: 768px) {
      .mq-margin{
          margin: 20px 0 0;
      }
    .button-box .button-maker {
        margin: 6px;
    }
    /* .data-ans p {
        font-size: 30px;
    }
    .data-title p {
        font-size: 18px;
    } */
   
  }
 
@media only screen and (max-width: 400px) {
    .pos-ab {
        position: absolute;
        z-index: 0;
        bottom: 0px;
    }
    .pos-rel {
        position: relative;
        padding-top: 0px;
        padding-bottom: 0px;
        margin-bottom: 0px;
    }
  
}